body {
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.QuoteBox {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1.75em;
  width: 40%;
  max-width: 500px;
  background-color: black;
  border-radius: 10px;
  color: greenyellow;
  font-family: 'Courier Prime', monospace;
  }

#text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: inset 0 0 0.5em;
  margin: auto;
  margin-bottom: 1.5em;
}

#text {
  max-width: 90%;
  display: flex;
  font-size: 2em;
  padding: 0.75em;
}

#author {
  display: flex;
  font-size: 1.5em;
  float: right;
  padding: 0.75em;
}

#button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

#new-quote {
  border-radius: 7px;
  font-size: 0.85rem;
  font-family: 'Courier Prime', monospace;
  padding: 1em 2em 1em 2em;
}

#tweet-quote {
  text-decoration: none;
  color: black;
}

button {
  border-radius: 7px;
  font-size: 0.85rem;
  font-family: 'Courier Prime', monospace;
  padding: 1em 2em 1em 2em;
  cursor: pointer;
}

@media (max-width: 770px) {
  #text {
    font-size: 1.25em;
  }

  #author {
    font-size: 1em;
  }

  #button-wrapper {
    flex-direction: column;
  }
  
  #new-quote {
    order: -1;
  }
}